*, *:befor, *:after{
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: #fff;
    display: flex;
	flex-direction:column;
    justify-content:center;
	align-items:center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

input[type=checkbox] {
     
    cursor: pointer;
    accent-color: red;
  }

  
.questions{

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    
    width: 600px;
    height: 800px;
    
    /* Background/100 */
    
    background: #FEFEFE;
    /* Base/400 */
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    /* Inside auto layout */

    
    background-color: #fff;
    
}

label{
    color:#333;
}

.form.close{
    transform: translate3d(0,130%,0);
    transition: all 1s ease-out;
}

.formTitle{
    font-size: large;
    color: #333;

}

.form-btns{
    display:flex;
    flex-direction: row;
    margin-top:1rem;
}

.check-btn{
	width: 100%;
	background-color: rgb(230,172,89);
	font-size: large;
	color: white;
	padding: 14px 20px;
   
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

.show-btn{
    width: 100%;
    background-color:rgb(230,172,89) ;
    font-size: large;
    color: white;
    padding: 14px 20px;
    margin-left:0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-btn{
    width: 100%;
    background-color: rgb(63,207,152);
    font-size: large;
    color: white;
    padding: 14px 20px;
    margin-left:0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-btn:hover:enabled {  
    background-color: rgb(253,178,89);  
}  

.reset-btn:hover:enabled {  
    background-color: rgb(81,246,152);  
}   
	 
.reset-btn:hover:disabled {  
	background-color: rgb(63,207,152);  
}  

.show-btn:hover:enabled {  
       background-color: rgb(253,178,89);  
 }   
	 
	 
.answer-wrapper{
	display:flex;
	flex-direction:row;
	margin-left:1rem;
	height:1.4rem;
}
  
.status-label{
	width:5rem;
	text-align:center;
	border-radius:3px;
 }

 

.start-container-wrapper{
	display:flex;
	
	width:80%;
	padding-bottom:0.5rem;
}

.start-container{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	
	width:100%;
	height:6rem;
}

.element{ 
	display:flex;
	justify-content:center;
	align-items:center;
	 
	margin-left:1rem;
	width:6.5rem;
	height:3rem;
	border-radius:5px;
	background-color:rgb(230,172,89);
	cursor:pointer;
	color:#333;
}

.element:hover{
	background-color:rgb(253,178,89);
	color:#fff;
}
 

.result-container{
	display:flex; 
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border: 1px solid black;
	margin:2rem;
	border-radius:5px;
	width:80%;
}

.result-section{
	 
	width:100%;
	padding:1rem;
}

.winter-container{
 
	display:flex;
	flex-direction:row;
	justify-content:left;
	padding-top:1rem;
	 
	background-image: url("../images/winter.jpg");
	height:5rem;
	width:100%;
}
.spring-container{
	display:flex;
	flex-direction:row;
	justify-content:left;
	padding-top:1rem;
	 background-image: url("../images/spring.jpg");
	height:5rem;
	width:100%;
}

.summer-container{
	display:flex;
	flex-direction:row;
	justify-content:left;
	padding-top:1rem;
	  background-image: url("../images/summer.jpg");
	height:5rem;
	width:100%;
}

.autumn-container{
	display:flex;
	flex-direction:row;
	justify-content:left;
	 padding-top:1rem;
	 background-image: url("../images/autumn.jpg");
	height:5rem;
	width:100%;
	
}
fieldset{
	padding:0px;
	margin:0.5rem;
}

.wrapper{
	padding:0;
	margin:0;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.form-btns{
	margin-bottom:1rem;
}

 