*, *:befor, *:after{
    box-sizing: border-box;
	
}

.theme-1{
    --color-primary: rgb(253, 178, 89);
    --color-secondary: rgb(230, 172, 96);
    --background-highlight: rgb(248, 243, 199);
	--background: #fff;
    --font-color: #333;
  }
  .theme-2{
    --color-primary: rgb(63, 207, 152);
    --color-secondary: rgb(81, 246, 152);
    --background-highlight: rgb(245, 255, 250);
	--background: #fff;
    --font-color: #333;
  }

*{
	padding:0;
	margin:0;
	font-family: 'Playfair Display', serif;
}

body{
	background-color:var(--color-secondary);
}
 
nav{
	width:100%;
	height:60px;
	background-color:var(--color-primary);
}

nav ul{
	float:left;
}

nav ul li{
	float:left;
	list-style:none;
	position:relative;
}

nav ul li a{
	display:block;
	color:var(--font-color);
	font-size:24px;
	padding: 21px 14px;
	text-decoration:none;
}

nav ul li a{
	display:block;
	color:var(--font-color);
	font-size:24px;
	padding: 15px 14px;
	text-decoration:none;
}
nav ul li ul{
	display:none;
	position:absolute;
	background-color:var(--background);
	z-index:999;
}

nav ul li a:hover{
	 
	color:var(--background-highlight);
	 
}

nav ul li:hover ul{
	display:block;
	 
}

nav ul li ul li a{
	 font-size:20px;
	 padding: 2px 13.6px;
}
 
 nav ul li ul li a:hover{
	 color:var(--font-color);
	 background-color:var(--background-highlight);
}

.result-container{
	margin:0;
	 
	 
 
